/* Common CSS Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    line-height: 32px;
}

ul li a {
    list-style: none;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Header CSS Start */

.header_area {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_area img {
    width: 100%;
    height: auto;
}

.nav_menu ul {
    display: flex;
    justify-content: center;
}

.nav_menu ul li {
    margin: 5px;
    padding: 10px 15px;
}

.nav_menu ul li a {
    color: #000000;
}