/* Common CSS Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    color: #3A3A3A;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    line-height: 32px;
    color: #3A3A3A;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    line-height: 32px;
}

ul li a {
    list-style: none;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: #3A3A3A;
}

.btn {
    padding: 15px 24px;
    border-radius: 41px;
    background: #E02C6D;
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.btn span i {
    color: #FFFFFF;
    font-size: 24px;
    float: right;
    overflow: hidden;
    padding-left: 10px;
}

.btn span i::before {
    font-weight: 600 !important;

}

/* Header Section CSS Start */

.header_area {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_area img {
    width: 100%;
    height: auto;
}

.nav_menu ul {
    display: flex;
    justify-content: center;
}

.nav_menu ul li {
    margin: 5px;
    padding: 10px 15px;
}

.nav_menu ul li a {
    color: #3A3A3A;
}

/* Hero Section CSS Start */

#hero_section {
    padding: 50px 0;
}

.hero_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_left .hero_left_content h1 {
    font-size: 56px;
    line-height: 65px;
}

.hero_left .hero_left_content p {
    width: 80%;
    font-weight: 600;
    margin-top: 10px;
}

.hero_left_button {
    margin-top: 20px;
}

.hero_right .hero_right_images img {
    width: 100%;
    height: 100%;
}


/* Client Section CSS Start */

.client_logo_area {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client_logo_area .client_logo img {
    width: 100%;
    height: auto;
}

/* Client Section CSS Start */

.product {
    padding: 50px 0;
}

.product .product_heading h2 {
    text-align: center;
    font-size: 28px;
    line-height: 70px;
}